[submodule "nvim"]
	path = nvim
	url = https://github.com/CodingWithSimax/nvim-configuration.git
[submodule "awesome/themes/dracula/wallpapers"]
	path = awesome/themes/dracula/wallpapers
	url = https://github.com/dracula/wallpaper.git
[submodule "awesome/themes/dracula/wallpaper"]
	path = awesome/themes/dracula/wallpaper
	url = https://github.com/dracula/wallpaper.git
[submodule "tmux/tmux-power"]
	path = tmux/tmux-power
	url = https://github.com/wfxr/tmux-power.git
